* text=auto

# Media formats
*.jpg filter=lfs diff=lfs merge=lfs binary
*.jpeg filter=lfs diff=lfs merge=lfs binary
*.png filter=lfs diff=lfs merge=lfs binary
*.icon filter=lfs diff=lfs merge=lfs binary
*.glb filter=lfs diff=lfs merge=lfs binary