* text=auto eol=lf

# Media formats
*.jpg filter=lfs diff=lfs merge=lfs eol=lf binary
*.jpeg filter=lfs diff=lfs merge=lfs eol=lf binary
*.png filter=lfs diff=lfs merge=lfs eol=lf binary
*.icon filter=lfs diff=lfs merge=lfs eol=lf binary
*.glb filter=lfs diff=lfs merge=lfs eol=lf binary