.app {
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-width:100%;
}

.hero {
  background: url("assets/bcg.jpg");
  
  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  /* text-align: left; */
  font-size: 24px;
  position: absolute;
  top: 0.5rem;
  left: 0.8rem;
  /* transform: translate(-50%, -50%); */
  color: rgb(255, 255, 255);
  text-shadow: black 0.1em 0.1em 0.2em;
}

.hero-arrow {
  background: url("assets/bcg.jpg");
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}