.app {
  margin: 0;
  width: 100vw;
  height: 100%;
  max-width:100%;

  background-color: #373737;
  /* background-image: linear-gradient(to bottom, #5a5a5a, #484848, #373737, #272727, #181818); */
  background-position: top;
}

.hero {
  /* background: url("/bcg.jpg"); */
  
  /* Set a specific height */
  height: 86vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-fade {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 80%;
  
  background-image: linear-gradient(to bottom, #37373700, #37373744, #37373777, #373737aa, #373737ff);
}

.ContentWrapper {
  position: relative;
  left: calc((100vw / 2) - 450px);
  max-width: 900px;
}